[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.85.0"
pydantic = "==1.10.2"
pyinstaller = "*"
pyinstaller-hooks-contrib = "==2022.10"
pywin32-ctypes = "==0.2.0"
uvicorn = "==0.18.3"
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
findpeaks = "*"
lmfit = "*"

[dev-packages]
"black" = "*"
"bandit" = "*"

[requires]
python_version = "3.11"
