@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiraCode";
  src: url("./assets/fonts/FiraCode-VariableFont_wght.ttf")
}

body {
  font-family: "FiraCode";
}

.uppy-c-icon {
  @apply hidden
}

td:not(:empty) {
  @apply border border-ptx
}

.modebar-btn {
  @apply !p-0 !m-0
}

.modebar-btn:before, .modebar-btn:after {
  @apply !hidden
}

.notifier-note {
  @apply hidden
}

::-webkit-scrollbar {
  display: none;
}

.upload-btn {
  position: relative;
  overflow: hidden;
}

button.uppy-FileInput-btn {
  @apply text-transparent overflow-clip h-6 w-6 bg-acc;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='rgb(39 39 39)' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M14 20h-8a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12v5'%3E%3C/path%3E%3Cpath d='M11 16h-5a2 2 0 0 0 -2 2'%3E%3C/path%3E%3Cpath d='M15 16l3 -3l3 3'%3E%3C/path%3E%3Cpath d='M18 13v9'%3E%3C/path%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='rgb(39 39 39)' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M14 20h-8a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12v5'%3E%3C/path%3E%3Cpath d='M11 16h-5a2 2 0 0 0 -2 2'%3E%3C/path%3E%3Cpath d='M15 16l3 -3l3 3'%3E%3C/path%3E%3Cpath d='M18 13v9'%3E%3C/path%3E%3C/svg%3E");
}
