@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FiraCode";
  src: url("./assets/fonts/FiraCode-VariableFont_wght.ttf")
}

body {
  font-family: "FiraCode";
}

.uppy-c-icon {
  @apply hidden
}

.uppy-Root {
  @apply h-full text-center
}

td:not(:empty) {
  @apply border border-ptx
}

.modebar-btn {
  @apply !p-0 !m-0
}

.modebar-btn:before, .modebar-btn:after {
  @apply !hidden
}

.notifier-note {
  @apply hidden
}

::-webkit-scrollbar {
  display: none;
}

.uppy-Container {
  @apply border-ptx border border-dashed w-full h-full
}
